<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Andasibe</h2>
<mat-dialog-content class="mat-typography">

    <div class="row align-items-center">
        <div class="col-md-6 col-12 my-3">
            <p>
                Nel cuore del Parco Nazionale di Andasibe, vero santuario di biodiversità, i visitatori sono invitati a vivere un'esperienza indimenticabile, dove la natura si rivela in tutto il suo splendore. Immaginatevi ad ascoltare i canti incantevoli dell'indri, il più grande dei lemuri, i cui echi risuonano attraverso la foresta densa, creando una melodia che tocca l'anima. I lemuri, come il sifaka dai movimenti aggraziati e il lemure dalla coda ad anelli, aggiungono un tocco di magia a questa avventura, trasportandovi in un mondo fiabesco. Percorrendo i sentieri tortuosi, avrete la fortuna di avvistare camaleonti dai colori vivaci, rane dai motivi affascinanti e una varietà di uccelli esotici, come il vanga di Pollen, che stupiscono per la loro bellezza mozzafiato.            </p>
            <p>
                Nelle vicinanze, la riserva di Vakona offre un incontro ancora più intimo con la fauna malgascia, dove potrete avvicinarvi ai lemuri in libertà sull'isola dei lemuri, un'esperienza toccante che permette di interagire con queste creature curiose e socievoli. Le mangrovie e i laghi circostanti ospitano anche una varietà di uccelli acquatici e rettili, rendendo questa regione un vero paradiso per gli amanti della natura. In questo scenario incantevole, ogni incontro con la fauna è un invito a scoprire la ricchezza e la fragilità dell'ecosistema malgascio, un promemoria toccante che la preservazione di questa bellezza naturale è nelle vostre mani. Venite a immergervi in questo mondo straordinario, dove ogni istante è una celebrazione della vita selvaggia.             
            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>