<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Andasibe</h2>
<mat-dialog-content class="mat-typography">

    <div class="row align-items-center">
        <div class="col-md-6 col-12 my-3">
            <p>
                {{'Parcs.Andasibe.content.p1' | translate}}
            </p>
            <p>
                {{'Parcs.Andasibe.content.p2' | translate}}

            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>