<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Andasibe</h2>
<mat-dialog-content class="mat-typography">

    <div class="row align-items-center">
        <div class="col-md-6 col-12 my-3">
            <p>
                Au cœur du Parc National d'Andasibe, véritable sanctuaire de biodiversité, les visiteurs sont invités à
                vivre une expérience inoubliable, où la nature se révèle dans toute sa splendeur. Imaginez-vous à
                l'écoute des chants envoûtants de l'indri, le plus grand des lémuriens, dont les échos résonnent à
                travers la forêt dense, créant une mélodie qui touche l'âme. Les lémuriens, tels que le sifaka aux
                mouvements gracieux et le lémurien à queue annelée, ajoutent une touche de magie à cette aventure, vous
                transportant dans un monde féérique. En parcourant les sentiers sinueux, vous aurez la chance
                d'apercevoir des caméléons aux couleurs éclatantes, des grenouilles aux motifs fascinants et une variété
                d'oiseaux exotiques, comme le vanga de Pollen, qui émerveillent par leur beauté saisissante. </p>
            <p>
                À proximité, la réserve de Vakona vous offre une rencontre encore plus intime avec la faune malgache, où
                vous pourrez vous approcher des lémuriens en liberté sur l'île aux lémuriens, une expérience touchante
                qui permet d’interagir avec ces créatures curieuses et sociables. Les mangroves et les lacs environnants
                abritent également une diversité d'oiseaux aquatiques et de reptiles, faisant de cette région un
                véritable paradis pour les amoureux de la nature. Dans ce cadre enchanteur, chaque rencontre avec la
                faune est une invitation à découvrir la richesse et la fragilité de l'écosystème malgache, un rappel
                poignant que la préservation de cette beauté naturelle est entre vos mains. Venez-vous immerger dans ce
                monde extraordinaire, où chaque instant est une célébration de la vie sauvage. </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>