<!-- Remove the container if you want to extend the Footer to full width. -->
<div class=" bg-light my-5">

  <footer class="bg-light  text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">CONTACTEZ-NOUS</h5>

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Royal Quest Adventure
                Madagascar</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span
                class="ms-2">royaladventure&#64;outlook.fr</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+261 34 67 992 13</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fab fa-whatsapp"></i></span><span class="ms-2">+261 34 67 992 13</span>
            </li>
          </ul>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

          <h5 class="text-uppercase mb-4 pb-1">SUIVEZ-NOUS</h5>

          <div class="mt-4">
            <!-- Facebook -->
            <a type="button" href="https://www.facebook.com/profile.php?id=61571876663226"
              class="btn btn-floating btn-primary btn-lg mx-2"><i class="fab fa-facebook-f"></i></a>
            <!-- Dribbble -->
            <a type="button" (click)="redirectToWhatsApp('+261349601403')"
              class="btn btn-floating btn-success btn-lg"><i class="fab fa-whatsapp"></i></a>
            <!-- Google + -->
            <a type="button" class="btn btn-floating btn-danger btn-lg mx-2"><i class="fab fa-google"></i></a>
            <!-- Linkedin -->
            <a type="button"
              href="https://www.linkedin.com/in/royal-adventure-b41b54348/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              class="btn btn-floating btn-primary btn-lg"><i class="fab fa-linkedin"></i></a>

          </div>

          <div class="my-3">

          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="ml-3 col-lg-4 col-md-6 mb-4 mb-md-0">
          <div class="row justify-content-center">
            <h5 class="text-uppercase mb-4 pb-1">ENVOYEZ-NOUS DES MESSAGES</h5>


            <form (submit)="sendEmail()" class="needs-validation" novalidate>
              <div class="form-floating mb-3">
                <input type="text" id="name" placeholder="Nom" class="form-control" [(ngModel)]="emailData.from_name"
                  name="from_name" required>
                <label for="name">Nom</label>
              </div>

              <div class="form-floating mb-3">
                <input type="email" id="email" placeholder="Email" class="form-control" [(ngModel)]="emailData.reply_to"
                  name="reply_to" required>
                <label for="email">Email</label>
              </div>

              <div class="form-floating mb-3">
                <textarea id="message" class="form-control" placeholder="Message" style="height: 100px;"
                  [(ngModel)]="emailData.message" name="message" required></textarea>
                <label for="message">Message</label>
              </div>

              <button type="submit" class="btn btn-primary w-100">Envoyer</button>
            </form>
          </div>

          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v17.0">
            </script>

          <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=61571876663226" data-tabs="timeline"
            data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true"
            data-hide-cover="false" data-show-facepile="true">
          </div>



        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
      © 2025 Copyright:
      <a class="" href="https://www.facebook.com/profile.php?id=100008473697518">Naina Andriamihoatra</a>
    </div>
    <!-- Copyright -->


  </footer>

</div>
<!-- End of .container -->