<div class="container">
    <header class="shadow-sm my-2" style="width: 100%; text-align: center; padding: 50px 0; position: relative;">
        <!-- Image de fond floutée -->
        <div class="blurred-background"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
            background-image: url('/SUD/Sud.jpg'); background-size: cover; background-position: center; filter: blur(1px);">
        </div>
        <!-- Texte centré -->
        <h1 style="font-size: 5em; margin: 0; color: white; position: relative; z-index: 1; 
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);">
            SUD
        </h1>
    </header>
</div>


<div class="container">
    <div class="row m-5">

        <!-- Left Column -->
        <div class="col-12 col-md-6 shadow-lg bg-light p-5">
            <p>
                Il viaggio verso il sud del Madagascar inizia ad Antananarivo, il cui nome significa "Città dei Mille", in omaggio ai 1.000 valorosi guerrieri che difesero Analamanga, la collina sacra. Ogni tappa di questo viaggio è un'immersione nella storia e nella maestosa natura dell'isola. Nelle vicinanze, la collina di Fandana si erge come un memoriale toccante, testimone del sacrificio di 3.000 soldati Betsileo nel 1800, simbolo di coraggio e onore. Questi luoghi storici offrono ai visitatori panorami maestosi su colline verdi punteggiate da pittoreschi villaggi, dove tradizione e bellezza naturale si incontrano, creando un vero paradiso per gli amanti della natura e dell'avventura.            </p>
        
            <p>
                Le foreste secche e spinose, scolpite dal vento e dal tempo, ospitano i baobab emblematici, questi giganti che vegliano sul paesaggio, imponenti in contrasto con le delicate piante succulente che fioriscono in questo ecosistema unico. L'Isalo è un gioiello di questa regione, che rivela uno spettacolo mozzafiato: canyon scolpiti dall'erosione, altipiani rocciosi color ocra e oasi verdi dove ruscelli cristallini serpeggiano pacificamente. In contrappunto, la riserva di Anja, più intima, invita a incontrare il propitheco, quel lemure vivace che sembra danzare con una grazia affascinante tra gli alberi. Ad ogni angolo, gechi diurni dai colori vivaci si svelano, mentre i canti degli uccelli esotici, come il vanga di Pollen, risuonano nell'aria pura.            </p>
        
            <p>
                Più a sud, le cascate e i fiumi di Ranomafana aggiungono una nota rinfrescante a questo scenario spesso arido, creando rifugi di vita dove la fauna e la flora prosperano in un'armonia fragile. Le vaste distese desertiche, illuminate dalla luce dorata del tramonto, offrono uno spettacolo magico, trasformando ogni istante in un dipinto vivente. E poi, arrivando alle coste, il mare di Smeraldo svela un altro volto di questa regione incantevole: acque cristalline dai toni irreali, bordate da spiagge immacolate e da barriere coralline che ospitano una vita marina di infinita ricchezza. Qui, il tempo sembra sospeso, lasciando spazio a una serenità assoluta.            </p>
        
            <p>
                Seguendo questo percorso, camminate sulle tracce delle leggende e degli eroi malgasci, mentre scoprite la splendore di una natura selvaggia e preservata. Il sud del Madagascar, con i suoi racconti toccanti e i suoi paesaggi mozzafiato, promette un'esperienza indimenticabile, dove ogni passo è una celebrazione della storia, della resilienza e della bellezza senza tempo dell'isola.           
             </p>
        

        </div>

        <!-- Right Column -->
        <div class="col-12 col-md-6">
            <div class="image-container" style="margin-top: 2%;">
                <img src="/SUD/Sud4.jpg" class="image w-100 my-5" alt="Image Sud 4">
                <img src="/SUD/Sud(copie).jpg" class="image w-100 my-5" alt="Image Sud Copie">
            </div>
        </div>
    </div>
</div>

