<div class="container">
    <header class="shadow-sm my-2" style="width: 100%; text-align: center; padding: 50px 0; position: relative;">
        <!-- Image de fond floutée -->
        <div class="blurred-background"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
            background-image: url('/SUD/Sud.jpg'); background-size: cover; background-position: center; filter: blur(1px);">
        </div>
        <!-- Texte centré -->
        <h1 style="font-size: 5em; margin: 0; color: white; position: relative; z-index: 1; 
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);">
            SUD
        </h1>
    </header>
</div>


<div class="container">
    <div class="row m-5">

        <!-- Left Column -->
        <div class="col-12 col-md-6 shadow-lg bg-light p-5">
            <p>
                Le voyage vers le Sud de Madagascar commence à Antananarivo, dont le nom signifie « Ville des Mille » en hommage
                aux 1 000 guerriers vaillants qui défendirent Analamanga, la colline sacrée. Chaque étape de ce périple est une
                immersion dans l’histoire et la nature grandiose de l’île. À proximité, la colline de Fandana se dresse comme un
                mémorial poignant, témoin du sacrifice de 3 000 soldats Betsileo en 1800, symbole de courage et d’honneur. Ces
                lieux historiques offrent aux visiteurs des panoramas majestueux sur des collines verdoyantes parsemées de
                villages pittoresques, où tradition et beauté naturelle se rencontrent.
            </p>
        
            <p>
                Le Sud de Madagascar dévoile une richesse spectaculaire, un véritable paradis pour les amoureux de la nature et
                de l’aventure. Les forêts sèches et épineuses, sculptées par le vent et le temps, abritent les emblématiques
                baobabs, ces géants silencieux qui veillent sur le paysage. Leurs silhouettes imposantes contrastent avec les
                délicates plantes succulentes qui s’épanouissent dans cet écosystème unique.
            </p>
        
            <p>
                Isalo est un joyau de cette région, révèle un spectacle saisissant : des canyons sculptés par l’érosion, des
                plateaux rocheux teintés d’ocre et des oasis verdoyantes où les ruisseaux cristallins serpentent paisiblement.
                En contrepoint, la réserve d’Anja, plus intime, invite à rencontrer le sifaka, ce lémurien espiègle qui semble
                danser avec une grâce fascinante entre les arbres. À chaque détour, des geckos diurnes aux teintes vibrantes se
                dévoilent, tandis que les chants des oiseaux exotiques, comme le vanga de Pollen, résonnent dans l’air pur.
            </p>
        
            <p>
                Plus au sud, les cascades et les rivières de Ranomafana ajoutent une touche rafraîchissante à ce décor souvent
                aride, créant des havres de vie où faune et flore prospèrent dans une harmonie fragile. Les vastes étendues
                désertiques, baignées par la lumière dorée du coucher de soleil, offrent un spectacle magique, transformant
                chaque instant en une peinture vivante.
            </p>
        
            <p>
                Et puis, en arrivant aux côtes, la mer d’Émeraude dévoile un autre visage de cette région enchanteresse : des
                eaux cristallines aux teintes irréelles, bordées de plages immaculées et de récifs coralliens abritant une vie
                marine d’une richesse infinie. Ici, le temps semble suspendu, laissant place à une sérénité absolue.
            </p>
        
            <p>
                En suivant ce circuit, vous marchez sur les traces des légendes et des héros malgaches, tout en découvrant la
                splendeur d’une nature sauvage et préservée. Le Sud de Madagascar, avec ses récits émouvants et ses paysages à
                couper le souffle, vous promet une expérience mémorable, où chaque pas est une célébration de l’histoire, de la
                résilience et de la beauté intemporelle de l’île.
            </p>
        </div>

        <!-- Right Column -->
        <div class="col-12 col-md-6">
            <div class="image-container" style="margin-top: 2%;">
                <img src="/SUD/Sud4.jpg" class="image w-100 my-5" alt="Image Sud 4">
                <img src="/SUD/Sud(copie).jpg" class="image w-100 my-5" alt="Image Sud Copie">
            </div>
        </div>
    </div>
</div>

