<div class="container">
  <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0; background-image: url('../../../../public/Nosy_be/Nosy\ be\ 2.jpg');">
    <h1 style="font-size: 4em; margin: 0;">
      Nosy Be
    </h1>
  </header>
  <div class="container p-0">
    <div class="">
      <img src="/Nosy_be/Nosy be6.jpg" class="w-100">
    
      <div class="bottom-0 start-0   p-2 p-md-4">
        <p class="lead text-shadow">
          {{'Tours.Nosy_be.p1' | translate}}
        </p>
        <p class="lead text-shadow">
          {{'Tours.Nosy_be.p2' | translate}}
        </p>
        <p class="lead text-shadow">
          {{'Tours.Nosy_be.p3' | translate}}
        </p>
      </div>
    </div>
  </div>
  