<div class="container">
  <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0; background-image: url('../../../../public/Nosy_be/Nosy\ be\ 2.jpg');">
    <h1 style="font-size: 4em; margin: 0;">
      Nosy Be
    </h1>
  </header>
  <div class="container-fluid p-0">
    <div class="position-relative">
      <img src="/Nosy_be/Nosy be6.jpg" class="img-fluid w-100" style="height: 100vh; object-fit: cover;" alt="Image de fond">
      
      <div class="position-absolute bottom-0 start-0 w-100 text-white bg-dark bg-opacity-75 p-2 p-md-4" style="max-height: 50vh; overflow: auto;">
        <p class="lead text-shadow">
          Regnando dal 1639 al 1689, il re Andriamaitso, profondamente affascinato dalla natura, fece dell'isola di Nosy Be il suo regno preferito. Fu a Lokobe, un luogo intriso di mistero e sacralità, che scoprì una foresta densa, dove la maestosità della natura sembra unirsi alle antiche leggende. Esplorando questa giungla incontaminata, incontrò specie endemiche di rara bellezza, come il camaleonte pantera e il lemure nero. Oggi, Lokobe rimane un santuario protetto, un'oasi di pace dove riposa il re, e dove ogni soffio d'aria sembra sussurrare i segreti del passato.   </p>
        <p class="lead text-shadow">
          Venite a seguire le orme del re e lasciatevi incantare dalla magia di Nosy Be, un vero tesoro nascosto del Madagascar. Qui, la natura prospera in un'armonia affascinante. Immaginatevi su spiagge di sabbia bianca splendente, bagnate da acque turchesi di una chiarezza cristallina, circondate da palme graziose e piantagioni di canna da zucchero che si estendono con la loro lussureggiante vegetazione. Le foreste tropicali, a loro volta, ospitano una fauna affascinante, dove lemuri giocosi e camaleonti dai colori vivaci vi svelano la ricchezza di questa biodiversità unica. Al largo, le barriere coralline, vibranti di mille sfumature, nascondono un mondo sottomarino di una bellezza stupefacente, dove pesci tropicali e tartarughe marine scivolano in una danza silenziosa.</p>
        <p class="lead text-shadow">
          Nosy Be non è solo una destinazione, ma un vero paradiso dove ogni istante invita alla meraviglia. Venite a scoprire un luogo dove storia e natura si incontrano, dove ogni passo vi avvicina a una bellezza selvaggia e autentica. Seguite il cammino del re e lasciatevi incantare dall'essenza stessa del Madagascar. </p>
      </div>
    </div>
  </div>
  