<div class="container">
  <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0; background-image: url('../../../../public/Nosy_be/Nosy\ be\ 2.jpg');">
    <h1 style="font-size: 4em; margin: 0;">
      Nosy Be
    </h1>
  </header>
  <div class="container-fluid p-0">
    <div class="position-relative">
      <img src="/Nosy_be/Nosy be6.jpg" class="img-fluid w-100" style="height: 100vh; object-fit: cover;" alt="Image de fond">
      
      <div class="position-absolute bottom-0 start-0 w-100 text-white bg-dark bg-opacity-75 p-2 p-md-4" style="max-height: 50vh; overflow: auto;">
        <p class="lead text-shadow">
          Régnant de 1639 à 1689, le roi Andriamaitso, profondément fasciné par la nature, fit de l'île de Nosy Be son royaume préféré. C’est à Lokobe, un lieu empreint de mystère et de sacralité, qu’il découvrit une forêt dense, où la majesté de la nature semble s’allier aux légendes anciennes. En explorant cette jungle préservée, il rencontra des espèces endémiques d'une beauté rare, comme le caméléon panthère et le lémurien noir. Aujourd’hui, Lokobe demeure un sanctuaire protégé, un havre de paix où repose le roi, et où chaque souffle d’air semble murmurer les secrets du passé.        </p>
        <p class="lead text-shadow">
          Venez suivre les pas du roi et laissez-vous envoûter par la magie de Nosy Be, un véritable trésor caché de Madagascar. Ici, la nature s’épanouit dans une harmonie envoûtante. Imaginez-vous sur des plages de sable blanc éclatant, baignant dans des eaux turquoise d’une clarté cristalline, entourées de palmiers gracieux et de plantations de canne à sucre qui étendent leur verdure luxuriante. Les forêts tropicales, quant à elles, abritent une faune fascinante, où des lémuriens espiègles et des caméléons aux couleurs éclatantes vous dévoilent la richesse de cette biodiversité unique. Au large, les récifs coralliens, vibrants de mille nuances, cachent un monde sous-marin d'une beauté stupéfiante, où les poissons tropicaux et les tortues de mer glissent dans une danse silencieuse.        </p>
        <p class="lead text-shadow">
          Nosy Be n’est pas seulement une destination, mais un véritable paradis où chaque instant invite à l’émerveillement. Venez y découvrir un lieu où l’histoire et la nature se rencontrent, où chaque pas vous rapproche d’une beauté sauvage et authentique. Suivez le chemin du roi, et laissez-vous envoûter par l’essence même de Madagascar.        </p>
      </div>
    </div>
  </div>
  