<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="/WhatsApp_Image_2025-02-07_at_15.30.01-removebg.png" height="70" alt="Logo" loading="lazy" />
    </a>

    <!-- Bouton de toggling pour les écrans mobiles -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenu du navbar -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Conseil">Conseil de voyage </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Tours">Nos tours </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Parcs">Nos Parcs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Guide">Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Location">Location de voiture</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-it"></span> Italien</a></li>
            <li><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"></span> Français</a></li>
            <li><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-us"></span> English</a></li>
          </ul>
          
        </li>
        
      </ul>

    </div>
  </div>
</nav>