<div class="container py-5">
    <h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Reniala</h2>
    <div class="row align-items-center">
        <div class="col-md-6 col-12">
            <p>
                {{'Parcs.Reniala .content.p1' | translate}}

            </p>
            <p>
                {{'Parcs.Reniala .content.p2' | translate}}

            </p>
            <p>
                {{'Parcs.Reniala .content.p3' | translate}}

            </p>
            <p>
                {{'Parcs.Reniala .content.p4' | translate}}

            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions" class="sticky-image">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" style="height: 500px;" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>



</div>