<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Reniala</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-6 col-12">
            <p>Immergetevi nel parco Reniala, un vero santuario della natura nel cuore di Mangily, vicino a Tuléar, Madagascar, dove meraviglia e magia si incontrano in un quadro vivente di una bellezza mozzafiato. Qui, i maestosi baobab, conosciuti come "Reniala," che significa "madre della foresta" in malgascio, si ergono con fierezza, i loro tronchi possenti e i rami tentacolari abbracciano il cielo in modo spettacolare. Questi giganti venerati, testimoni silenziosi del passare del tempo, offrono rifugio a una moltitudine di specie, e la loro silhouette iconica si staglia con grazia sui panorami aridi e colorati della regione.</p>
            <p>Avventurandovi in questo rifugio di pace, lasciatevi incantare dai dolci sussurri del vento e dai canti melodiosi degli uccelli esotici che compongono una sinfonia rilassante, avvolgendo ogni visitatore in un'atmosfera di serenità. La flora, ricca e variegata, rivela specie endemiche, alcune delle quali fioriscono solo in questo angolo dimenticato del mondo, offrendo esplosioni di colori vibranti che animano il suolo e le cime degli alberi.</p>
            <p>
                Ad ogni passo, l'aria è pervasa da un delicato profumo di piante aromatiche e fiori sgargianti, contrastando armoniosamente con i paesaggi desertici e le oasi verdeggianti che emergono come miraggi. I sentieri tortuosi serpeggiano tra i baobab, ogni curva svela meraviglie nascoste di una biodiversità eccezionale, rendendo il parco Reniala un tesoro ecologico inestimabile.
            </p>
            <p>
                Al calar del giorno, l'orizzonte si tinge di sfumature dorate e porpora, il sole al tramonto avvolge il parco di una luce magica, invitando alla contemplazione e al sogno. In questo regno dove i Reniala, vere madri della foresta, regnano sovrani, ogni passo è una promessa di meraviglia, ogni istante una celebrazione della vita in tutta la sua splendore. Venite a vivere questa esperienza indimenticabile e lasciatevi sedurre dalla bellezza selvaggia di Reniala, un tesoro della natura che inciderà ricordi indelebili nel vostro cuore.
            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions" class="sticky-image">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" style="height: 500px;" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>