<div class="container my-5">
    <div class="row align-items-center">
        <!-- Image illustrant les guides locaux -->
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="assets/images/guides-madagascar.jpg" class="img-fluid rounded shadow-sm"
                alt="Guides locaux de Madagascar">
        </div>

        <!-- Texte -->
        <div class="col-lg-6">
            <h2 class="text-success fw-bold">{{'Guide.h2' | translate}}</h2>
            <p class="mb-3 text-justify">
                {{'Guide.p1' | translate}}
            </p>
            <p class="mb-3 text-justify">
                {{'Guide.p2' | translate}}
            </p>
            <p class="mb-3 text-justify">
                {{'Guide.p3' | translate}}
            </p>

            <p class="mt-4">🌍 {{'Guide.p4' | translate}}
            </p>
            <ul class="list-unstyled fs-5">
                <li>🇫🇷 {{'Guide.Francais' | translate}}
                </li>
                <li>🇺🇸 {{'Guide.Anglais' | translate}}
                </li>
                <li>🇮🇹 {{'Guide.Italien' | translate}}
                </li>
                <li>🇩🇪 {{'Guide.Allemand' | translate}}
                </li>
                <li>🇪🇸 {{'Guide.Espagnol' | translate}}
                </li>
                <li>🇨🇳 {{'Guide.Chinois' | translate}}
                </li>
            </ul>


            <p class="mb-3 text-justify">
               <span class="text-danger">**</span> {{'Guide.p5' | translate}} </p>
        </div>
    </div>
</div>