<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Reniala</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-6 col-12">
            <p>
                {{'Parcs.Lokobe .content.p1' | translate}}
            </p>
            <p>
                {{'Parcs.Lokobe .content.p2' | translate}}

            </p>
            <p>
                {{'Parcs.Lokobe .content.p3' | translate}}

            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions" class="sticky-image">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" style="height: 450px;" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="col-12">
            <p>
                {{'Parcs.Lokobe .content.p4' | translate}}

            </p>

        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>