<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Reniala</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-6 col-12">
            <p>Nel Parco Nazionale di Lokobe, a Nosy Be, si apre un mondo preservato e incantevole, un vero santuario dove la bellezza ineguagliabile della fauna e della flora si dispiega in uno scrigno di natura lussureggiante. Entrando in questo regno tropicale, sarete accolti da una sinfonia di suoni che incanta i sensi: il canto degli uccelli esotici si eleva nella canopia, mentre i lemuri giocosi saltellano gioiosamente tra i rami, infondendo vita vibrante a questo quadro verdeggiante.</p>
            <p>Durante la vostra passeggiata, i fiumi scintillanti e le pozze tranquille creano rifugi di pace, dove la vita acquatica risveglia la curiosità: camaleonti si insinuano delicatamente tra le foglie e rane dai colori vivaci prosperano nel loro habitat. Ad ogni angolo, si presenta una nuova meraviglia, dagli uccelli dai piumaggi sgargianti agli insetti dalle forme insolite, testimoniando la ricchezza incredibile della biodiversità che questo parco ha da offrire.</p>
            <p>Al calar della notte, la foresta si risveglia con una nuova magia; il crepuscolo fa risuonare il canto delle rane e il fruscio degli insetti, trasformando il parco in una scena vivente dove ogni suono racconta una storia unica. Il Parco Nazionale di Lokobe non è solo una destinazione; è un'immersione profonda in un mondo autentico, un luogo dove la bellezza selvaggia del Madagascar vi circonda e si imprime per sempre nella vostra memoria. Venite a scoprire questi paesaggi incantevoli e lasciatevi trasportare dallo spirito vibrante della natura in tutto il suo splendore.</p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions" class="sticky-image">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" style="height: 450px;" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="col-12">
            <p>À la tombée de la nuit, la forêt s'éveille d'une magie nouvelle ; le crépuscule fait résonner le chant des grenouilles et le bruissement des insectes, transformant le parc en une scène vivante où chaque son raconte une histoire unique. Le parc national de Lokobe n’est pas seulement une destination; c’est une immersion profonde dans un monde authentique, un lieu où la beauté sauvage de Madagascar vous entoure et s'imprime à jamais dans votre mémoire. Venez découvrir ces paysages enchanteurs et laissez-vous emporter par l'esprit vibrant de la nature dans toute sa splendeur.</p>

        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>