<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Tsingy</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-6 col-12">
            <p>
                Dans le parc Tsingy de Madagascar, un véritable sanctuaire de beauté et d’émerveillement vous attend, où
                la faune et la flore se mêlent dans une danse envoûtante au cœur de paysages spectaculaires. Les Tsingy,
                ces formations calcaires acérées, se dressent comme des flèches majestueuses vers le ciel, façonnant un
                labyrinthe de roches mystérieuses et fascinantes qui éveillent la curiosité de chaque explorateur. En
                vous aventurant dans ce royaume enchanteur, le chant mélodieux des oiseaux multicolores et les cris
                joyeux des lémuriens viennent enrichir l’atmosphère sauvage, créant une symphonie naturelle qui nourrit
                l’âme.
            </p>
            <p>
                La végétation luxuriante et tenace s'épanouit entre les fissures des Tsingy, ajoutant des touches de
                vert éclatant à ce tableau minéral captivant. En parcourant les sentiers sinueux, vous aurez la joie de
                découvrir des espèces endémiques rares qui ne se trouvent nulle part ailleurs dans le monde, tout en
                profitant de panoramas époustouflants sur les canyons environnants qui s’étendent à l'infini. Le parfum
                enivrant des plantes aromatiques flotte dans l’air chaud, tandis que le vent doux caresse votre visage,
                vous offrant une sensation de liberté et d’émerveillement à chaque instant. </p>
            <p>
                Dans ce lieu hors du commun, chaque pas est une invitation à la découverte, chaque moment devient une
                célébration de la magnificence et de la diversité de la nature, où l’homme et l'environnement s’unissent
                dans une harmonie fascinante. Venez vivre cette expérience unique et laissez-vous envoûter par la magie
                des Tsingy, un trésor de biodiversité et de paysages qui marquera votre cœur à jamais.
            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions" class="sticky-image">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" style="height: 500px;" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>