<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Tsingy</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-6 col-12">
            <p>
                Nel Parco Tsingy del Madagascar, vi attende un vero santuario di bellezza e meraviglia, dove la fauna e la flora si mescolano in una danza incantevole nel cuore di paesaggi spettacolari. I Tsingy, queste formazioni calcaree affilate, si ergono come frecce maestose verso il cielo, formando un labirinto di rocce misteriose e affascinanti che risvegliano la curiosità di ogni esploratore. Avventurandovi in questo regno incantato, il canto melodioso degli uccelli multicolori e i richiami gioiosi dei lemuri arricchiscono l'atmosfera selvaggia, creando una sinfonia naturale che nutre l'anima.            </p>
            <p>
                La vegetazione lussureggiante e tenace prospera tra le fessure dei Tsingy, aggiungendo tocchi di verde brillante a questo quadro minerale affascinante. Percorrendo i sentieri tortuosi, avrete la gioia di scoprire specie endemiche rare che non si trovano in nessun'altra parte del mondo, godendo di panorami mozzafiato sui canyon circostanti che si estendono all'infinito. Il profumo inebriante delle piante aromatiche fluttua nell'aria calda, mentre il vento leggero accarezza il vostro viso, offrendovi una sensazione di libertà e meraviglia a ogni istante.            </p>
            <p>
                In questo luogo straordinario, ogni passo è un invito alla scoperta, ogni momento diventa una celebrazione della magnificenza e della diversità della natura, dove l'uomo e l'ambiente si uniscono in un'armonia affascinante. Venite a vivere questa esperienza unica e lasciatevi incantare dalla magia dei Tsingy, un tesoro di biodiversità e paesaggi che segnerà il vostro cuore per sempre.            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions" class="sticky-image">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" style="height: 500px;" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>