.carousel img {
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

h1 {
  color: #b33c00;
}



.text-justify {
  text-align: justify;
}

p {
    line-height: 1.6;
    text-align: justify;
    /* Justification du texte */
    font-family: 'Poppins';
    font-size: 16px;
    /* Définit l'épaisseur de la police */
    line-height: 1.5;
  
  
  }