p {
    text-align: justify;
    font-family: 'Poppins';
    /* Choisit la police Arial, avec une alternative sans-serif */
    font-size: 16px;
    /* Définit la taille de la police */
    font-weight: normal;
    /* Définit l'épaisseur de la police */
    line-height: 1.5;
}


li {
    text-align: justify;
    font-family: 'Poppins';
    /* Choisit la police Arial, avec une alternative sans-serif */
    font-size: 16px;
    /* Définit la taille de la police */
    font-weight: normal;
    /* Définit l'épaisseur de la police */
    line-height: 1.5;

}

  .fade-in-text {
    animation: fadeInUp 1.2s ease-out forwards;
    opacity: 0;
    transform: translateY(10px);
    animation-delay: 0.3s;
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }