<div class="container">
  <div class="row">
    <div class="col-6 h-100" style="padding-right: 3%;">    
        <h1>Consigli utili per il viaggio :</h1>
        <p>Madagascar est une destination idéale pour les amateurs d'aventure, offrant des paysages variés, une biodiversité unique, et une culture riche. Voici quelques informations utiles pour bien préparer votre voyage :</p>
    
        <h2>Clima e stagioni :</h2>
        <ul>
            <li style="text-align: justify;">La stagione secca (maggio-ottobre) è ideale per esplorare l’isola.</li>
            <li style="text-align: justify;">La stagione delle piogge (novembre-aprile) offre paesaggi più rigogliosi, perfetti per gli amanti della natura.</li>
        </ul>
    
        <h2>Routes et déplacements :</h2>
        <p>Madagascar est un pays d'aventure, et les routes, bien que pittoresques, peuvent parfois être difficiles. Les trajets en taxi-brousse ou en 4x4 sont fréquents, en particulier pour atteindre les régions reculées. Assurez-vous de planifier vos déplacements à l'avance, surtout en saison des pluies.</p>
    
        <h2>Preparativi :</h2>
        <p>Madagascar est un pays tropical, et certaines régions peuvent recevoir des pluies toute l'année. Il est recommandé de toujours avoir dans vos bagages :</p>
        <ul>
            <li>Des vêtements légers et imperméables,</li>
            <li>Une trousse de premiers soins,</li>
            <li>Des répulsifs anti-moustiques,</li>
            <li>Des chaussures adaptées pour les randonnées.</li>
        </ul>
    
        <h2>Conseils pratiques :</h2>
        <p>En cas de doute sur un itinéraire, une activité ou tout autre aspect de votre voyage, n’hésitez pas à nous contacter. Nous sommes là pour vous aider à organiser un séjour inoubliable et sécurisé.</p>   
        </div>
    <div class="col-6 shadow-sm">
      <img style="object-fit: cover; height: 100%; width: 100%; margin: 0;" src="https://fermestsimon.com/images/quelques-astuces-pour-trouver-la-destination-ideale-de-vacances.jpeg" alt="">
    </div>
  
  </div>
</div>