<div class="container">

    <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0;">
        <h1 style="font-size: 4em; margin: 0;">
            Pangalanes : L'Odysée de Ramakarao
        </h1>
    </header>

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0">
                <div class="row">
                    <div class="col-4" *ngFor="let image of slide">
                        <img [src]="image" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container">
    <section>
        <div class="row m-2">
            <p>
                Il 13 agosto 1336, Ramakarao, un re audace, attraversò le rive di Matitanana vicino a Manakara, dopo un viaggio epico partito dalla Mecca, attraversando Zanzibar e Mayotte. Questo viaggio mitico, fatto di avventure e scoperte, lo portò a esplorare i canali incantevoli del Canale dei Pangalanes. Accompagnato dai suoi fedeli, si avventurò attraverso mangrovie misteriose, villaggi tranquilli e rive popolate da uccelli acquatici, estendendo il suo regno nel cuore di questa natura inesplorata. Oggi, seguendo le orme di Ramakarao, anche voi potete immergervi in questa avventura senza pari.            </p>
            <p>
                L'est del Madagascar, dove il Canale dei Pangalanes si estende come un nastro di smeraldo sotto il sole tropicale, è un vero invito a esplorare un mondo dove la natura sembra vivere in perfetta armonia. Da Manakara, questo canale incantevole vi conduce attraverso un paesaggio di una bellezza mozzafiato, dove la fauna e la flora prosperano in uno splendore incontaminato. Sulle sue rive, le foreste tropicali lussureggianti cantano al ritmo degli uccelli multicolori, uno spettacolo magico che non troverete altrove.
            </p>
        </div>

        <div class="row m-2">
            <div class="col-12 col-md-6">
                <p>
                    Le acque cristalline del canale, adornate di ninfee e piante acquatiche, offrono un quadro vivente che il sole accarezza dolcemente, creando un'atmosfera serena e incantevole. Lungo il corso d'acqua, villaggi pittoreschi accolgono i viaggiatori, offrendo uno sguardo autentico sulla vita locale, dove gli abitanti, fieri custodi di tradizioni secolari, vivono in armonia con questa natura generosa. Ogni angolo di questo viaggio rivela uno spettacolo indimenticabile: spiagge di sabbia dorata, foreste dense e maestose, risaie a terrazze che declinano tutte le sfumature di verde, aggiungono alla ricchezza dell'esperienza.
                </p>
                <p>
                    Il Canale dei Pangalanes, con le sue mangrovie tranquille e le sue lagune serene, è un rifugio di pace, una terra promessa per gli amanti della biodiversità. L'acqua, animata da pesci colorati e uccelli acquatici, vi invita a un'immersione profonda nella magia di questo luogo. E quando il crepuscolo colora il cielo di arancioni e rosa, lo spettacolo è indimenticabile, così come il risveglio della fauna notturna che aggiunge un tocco di mistero a questa aventura.                </p>


            </div>
            <div class="col-12 col-md-6">
                <img src="/Pangalanes/Pangalane4.png" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row m-2">
            <p>
                Seguendo le orme di Ramakarao, scoprirete molto più di una destinazione turistica. Vivrete un'esperienza autentica, un'immersione nella natura selvaggia del Madagascar, un luogo dove ogni istante vi riconnette con l'anima dell'isola e vi invita a esplorare un mondo affascinante, preservato e magico.            </p>
    
        </div>




    </section>
</div>