@if (images) {
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img style="width: 100%; height: 400px; object-fit: cover; " src="/Pangalanes/Pangalane1.jpg"
                    alt="Random first slide" />
            </div>
            <div class="carousel-caption text-center">
                <h1 class="custom-font">ROYAL QUEST ADVENTURE MADAGASCAR</h1>
            </div>
    
    
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img style="width: 100%; height: 400px; object-fit: cover;" src="/Pangalanes/Pangalane2.jpg"
                    alt="Random second slide" />
            </div>
            <div class="carousel-caption text-center">
                <h1 class="custom-font">ROYAL QUEST ADVENTURE MADAGASCAR</h1>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img style="width: 100%; height: 400px; object-fit: cover;" src="/3.jpg"
                    alt="Random third slide" />
            </div>
            <div class="carousel-caption text-center">
                <h1 class="custom-font">ROYAL QUEST ADVENTURE MADAGASCAR</h1>

            </div>
        </ng-template>
    </ngb-carousel>
    
    }
    
<div class="container">
    <section>
        <h2>Un Voyage Épique</h2>
        <p>
            Le 13 août 1336, <span class="highlight">Ramakarao</span>, roi audacieux, franchit les rives de Matitanana
            près de Manakara, après un voyage épique partant de La Mecque, traversant Zanzibar et Mayotte. Ce voyage
            mythique, fait d'aventures et de découvertes, l’amena à explorer les canaux envoûtants du Canal des
            Pangalanes. Accompagné de ses fidèles, il s'aventura à travers des mangroves mystérieuses, des villages
            paisibles et des rivages peuplés d’oiseaux aquatiques, étendant son royaume au cœur de cette nature
            inexplorée.
        </p>

        <h2>La Magie du Canal des Pangalanes</h2>
        <p>
            Aujourd'hui, en suivant les pas de Ramakarao, vous aussi pouvez plonger dans cette aventure sans pareille.
            L'est de Madagascar, là où le Canal des Pangalanes s'étend comme un ruban d’émeraude sous le soleil
            tropical, est une véritable invitation à explorer un monde où la nature semble vivre en parfaite harmonie.
        </p>


        <h2>Une Immersion Authentique</h2>
        <p>
            Les eaux cristallines du canal, parées de nénuphars et de plantes aquatiques, offrent un tableau vivant que
            le soleil effleure doucement, créant une ambiance sereine et envoûtante. Au fil de l’eau, des villages
            pittoresques accueillent les voyageurs, offrant un aperçu authentique de la vie locale, où les habitants,
            fiers gardiens de traditions séculaires, vivent en harmonie avec cette nature généreuse.
        </p>

        <h2>Un Havre de Paix</h2>
        <p>
            Le Canal des Pangalanes, avec ses mangroves paisibles et ses lagunes tranquilles, est un havre de paix, une
            terre promise pour les amoureux de la biodiversité. L’eau, animée de poissons colorés et d’oiseaux
            aquatiques, vous invite à une plongée profonde dans la magie de ce lieu. Et lorsque le crépuscule colore le
            ciel d'oranges et de roses, le spectacle est inoubliable, tout comme l’éveil de la faune nocturne qui ajoute
            une touche de mystère à cette aventure.
        </p>

        <h2>Explorez Madagascar</h2>
        <p>
            En suivant les pas de Ramakarao, vous découvrirez bien plus qu’une destination touristique. Vous vivrez une
            expérience authentique, une immersion dans la nature sauvage de Madagascar, un lieu où chaque instant vous
            reconnecte avec l’âme de l’île et vous invite à explorer un monde fascinant, préservé et magique.
        </p>
    </section>
</div>