<div class="container">

    <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0;">
        <h1 class="text-center fs-1 fs-md-3 fs-sm-4" style="font-size: 4em; margin: 0;">
            {{"Tours.pangalannes.title" | translate}}
        </h1>
    </header>

    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0">
                <div class="row">
                    <div class="col-4" *ngFor="let image of slide">
                        <img [src]="image" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container">
    <section>
        <div class="row m-2">
            <p>
                {{"Tours.pangalannes.p1" | translate}}            
            </p>
            <p>
                {{"Tours.pangalannes.p2" | translate}}            
            </p>
        </div>

        <div class="row m-2">
            <div class="col-12 col-md-6">
                <p>
                    {{"Tours.pangalannes.p3" | translate}}            
                </p>
                <p>
                    {{"Tours.pangalannes.p4" | translate}}            
                </p>


            </div>
            <div class="col-12 col-md-6">
                <img src="/Pangalanes/Pangalane4.png" class="img-fluid" alt="">
            </div>
        </div>

        <div class="row m-2">
            <p>
                {{"Tours.pangalannes.p5" | translate}}            
            </p>
    
        </div>




    </section>
</div>