<div class="container">
    <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0;">
        <h1 style="font-size: 4em; margin: 0;">
            Ouest
        </h1>
    </header>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-6 col-12 p-3" >
            <section>
                <p>
                    Nell'ovest maestoso del Madagascar, il re Andriamandazoala, sovrano del regno di Menabe tra il 1540 e il 1560, intraprese un'audace esplorazione del fiume Tsiribihina. Sfida le acque tumultuose e i coccodrilli, attraversò questo corso d'acqua tre volte, stabilendo legami indissolubili con i villaggi che attraversava. Il suo coraggio e la sua saggezza forgiarono una leggenda che, ancora oggi, risuona in queste terre intrise di mistero.
                </p>
                <p>
                    I visitatori, seguendo le orme di questo re leggendario, possono imbarcarsi per una crociera indimenticabile sul Tsiribihina, un viaggio in cui la natura svela tutta la sua splendore. Cascate segrete cadono dolcemente in piscine naturali scintillanti, circondate da scogliere adornate di una vegetazione lussureggiante. Sulle rive, lemuri curiosi e camaleonti dai colori vivaci si fondono in un paesaggio selvaggio e incontaminato, mentre uccelli rari incantano i viaggiatori con i loro canti melodiosi.                </p>

                <p>
                    A pochi chilometri da lì, i Tsingy di Bemaraha, iscritti al patrimonio mondiale dell'UNESCO, si ergono come cattedrali di pietra. Queste formazioni rocciose affilate, veri capolavori naturali, formano un labirinto surreale dove flora e fauna prosperano. In questo santuario minerale, gli avventurieri possono percorrere passerelle sospese che offrono panorami mozzafiato, o esplorare grotte segrete che sembrano sussurrare antichi racconti.
                </p>

                <p>
                    Non lontano, Morondava e la sua iconica Allée des Baobabs offrono uno spettacolo di rara intensità. Questi alberi giganti, veri guardiani del tempo, si tingono di sfumature dorate al tramonto, trasformando il paesaggio in una tela vivente. Qui, ogni baobab racconta una storia, mescolando leggende e tradizioni tramandate dalle comunità locali.                </p>

                <p>
                    Più a nord, Belo sur Tsiribihina svela le sue spiagge dorate e le sue mangrovie, che ospitano una vita marina rigogliosa. Gli abitanti, fieri della loro eredità, condividono con generosità le loro tradizioni secolari e il loro profondo rispetto per questa natura generosa.                </p>
                <p>
                    Nell'ovest del Madagascar, ogni passo su questa terra mitica è un invito alla meraviglia. Tra storia e biodiversità eccezionale, lasciatevi incantare da questa regione dove i racconti reali e la bellezza selvaggia si incontrano per offrire un'esperienza indimenticabile.        
                </p>


            </section>


        </div>
        <div class="col-md-6 col-12 p-3" >

            <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/Ouest/Ouest3.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/Ouest/Ouest2.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/Ouest/Ouest5.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

            </ngb-carousel>

        </div>



    </div>




</div>