<div class="container">
    <!--
    <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0;">
        <h1 style="font-size: 4em; margin: 0;">
            Ouest
        </h1>
    </header>

    -->
</div>


<div class="container">

    <div class="row">
        <div class="col-md-6 col-12 p-3" >
            <section>
                <p class="fs-2 text-success">{{"Nos_tours.Ouest" | translate}}</p>
                <p>
                    {{"Tours.Ouest.p1" | translate}}            
                </p>
                <p>
                    {{"Tours.Ouest.p2" | translate}}            
                </p>

                <p>
                    {{"Tours.Ouest.p3" | translate}}            
                </p>

                <p>
                    {{"Tours.Ouest.p4" | translate}}            

                </p>

                <p>
                    {{"Tours.Ouest.p5" | translate}}            
    
                </p>
                <p>
                    {{"Tours.Ouest.p6" | translate}}            
                </p>


            </section>


        </div>
        <div class="col-md-6 col-12 p-3" >

            <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/Ouest/Ouest3.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/Ouest/Ouest2.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/Ouest/Ouest5.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

            </ngb-carousel>

        </div>



    </div>




</div>