<div class="container">
    <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0;">
        <h1 style="font-size: 4em; margin: 0;">
            Circuit Aventure de Rakobà (Grand tour)
        </h1>
    </header>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-6 col-12 p-3">
            <section>
                <p>
                    Immergiti nella storia affascinante di Rakobà, un re visionario del XVI secolo che governò l'ovest del Madagascar con saggezza e benevolenza. Secondo i racconti, Rakobà, originario della Mecca, possedeva straordinari doni di divinazione e medicina. Attraversando il suo vasto regno, esplorava le pianure aride adornate da imponenti baobab e le savane abitate da lemuri giocosi. Alla ricerca di piante medicinali, attingeva ai tesori della natura per proteggere e curare il suo popolo, tessendo così un legame spirituale e duraturo con l'ambiente.
                </p>
                <p>
                    Oggi, l'ovest del Madagascar perpetua l'eredità di questo re leggendario, offrendo ai visitatori un'avventura indimenticabile nel cuore di paesaggi spettacolari e misteriosi. A Morondava, i maestosi baobab, veri giganti millenari, si ergono come custodi del tempo. La loro famosa allée, bagnata dalla luce dorata del tramonto, crea uno spettacolo incantevole, un invito alla contemplazione e alla meraviglia.                
                </p>

                <p>
                    Scendendo verso sud, Belo sur Mer svela le sue spiagge immacolate e le sue acque cristalline, dove le tartarughe marine scivolano con grazia e gli uccelli migratori disegnano danze aeree. Questo rifugio di pace, dove regnano silenzio e serenità, incarna un'armonia perfetta tra la natura e gli elementi.
                </p>

                <p>
                    Nelle profondità della foresta di Kirindy, si svela un universo quasi mistico. Questa foresta densa, regno dei lemuri e del fosa, risuona dei canti della vita selvaggia, una melodia ancestrale che trasporta i visitatori in un altro tempo. Ogni sentiero invita all'esplorazione, rivelando tesori nascosti e racconti dimenticati.
                </p>

                <p>
                    Più a sud, le coste di Morombe e Andavadoaka si aprono su vibranti barriere coralline, uno spettacolo acquatico mozzafiato dove pesci multicolori si muovono al ritmo delle onde. A Ifaty, le lagune turchesi e le foreste spinose uniche compongono un quadro selvaggio e affascinante. Qui, i pescatori Vezo, veri maestri delle acque, perpetuano le loro tradizioni, offrendo uno sguardo sulla loro armonia ancestrale con il mare.                
                </p>
                <p>
                    Questo viaggio, tra storia e natura, celebra la grandezza di Rakobà e la ricchezza dell'ovest malgascio. È una terra dove leggenda e bellezza si incontrano per offrire un'esperienza indimenticabile, un'avventura che incanta l'anima e risveglia i sensi. Venite a seguire le tracce del re e lasciatevi sedurre dalla magia eterna del Madagascar, un regno dove ogni istante è una celebrazione della vita.                
                </p>


            </section>


        </div>
        <div class="col-md-6 col-12 p-3">

            <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/RAKOBA/Aventure2.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/RAKOBA/1.jpeg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/RAKOBA/Aventure3.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

            </ngb-carousel>

        </div>



    </div>




</div>