<div class="container">
    <header class="shadow-sm my-2" style="text-align: center; padding: 50px 0;">
        <h1 style="font-size: 4em; margin: 0;">
            Circuit Aventure de Rakobà (Grand tour)
        </h1>
    </header>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-6 col-12 p-3">
            <section>
                <p>
                    {{'Tours.Rakoba.p1' | translate}}
                </p>
                <p>
                    {{'Tours.Rakoba.p2' | translate}}
                </p>

                <p>
                    {{'Tours.Rakoba.p3' | translate}}
                </p>

                <p>
                    {{'Tours.Rakoba.p4' | translate}}
                </p>

                <p>
                    {{'Tours.Rakoba.p5' | translate}}
                </p>
                <p>
                    {{'Tours.Rakoba.p6' | translate}}
                </p>


            </section>


        </div>
        <div class="col-md-6 col-12 p-3">

            <ngb-carousel [showNavigationArrows]="showNavigationArrows"
                [showNavigationIndicators]="showNavigationIndicators">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/RAKOBA/Aventure2.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/RAKOBA/1.jpeg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="/RAKOBA/Aventure3.jpg" alt="Random slide" class="w-100" />
                    </div>
                    <div class="carousel-caption">
                    </div>
                </ng-template>

            </ngb-carousel>

        </div>



    </div>




</div>