<div class="container py-5">
    <h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Anja</h2>

    <div class="row align-items-center">
        <div class="col-md-6 col-12">
            <p>
                {{'Parcs.Anja .content.p1' | translate}}

            </p>
            <p>
                {{'Parcs.Anja .content.p2' | translate}}

            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <img src="/Anja/Anja3.jpg" class="w-100" alt="">
        </div>



    </div>


</div>