<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Anja</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-6 col-12" >
            <p>
                Nel Parco Anja Ambalavao, un tesoro naturale del Madagascar, i visitatori sono accolti da un paesaggio mozzafiato dove la fauna locale brilla in modo abbagliante. Qui, i lemuri, veri gioielli di questo santuario, si muovono con un'agilità affascinante: il lemure dalla coda ad anelli, con la sua lunga coda striata, cattura tutti gli sguardi oscillando gioiosamente da un albero all'altro.            </p>
            <p>
                Lungo i sentieri ombreggiati, camaleonti dai colori vivaci e gechi dai motivi esotici si fondono con grazia nella vegetazione, aggiungendo un tocco di mistero a questa natura vibrante. I canti melodiosi degli uccelli esotici, come il cucal e il vanga nero, riempiono l'aria di una musica rilassante, creando un'atmosfera magica in questo angolo di paradiso. Ogni passo che fai in questo santuario di biodiversità è un invito a scoprire la bellezza incantevole del Madagascar, rendendo il Parco Anja Ambalavao una destinazione imperdibile per chi cerca avventure indimenticabili e ricordi indelebili nel cuore. Vivi un'esperienza immersiva e lasciati sedurre dalla magia di questa natura incontaminata, dove ogni istante è una celebrazione della vita selvaggia.
            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <img src="/Anja/Anja3.jpg" class="w-100" alt="">
        </div>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>