<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Anja</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-6 col-12" >
            <p>
                Dans le Parc Anja Ambalavao, un trésor naturel de Madagascar, les visiteurs sont accueillis par un
                paysage à couper le souffle où la faune locale brille d'une manière éblouissante. Ici, les lémuriens,
                véritables joyaux de ce sanctuaire, se déplacent avec une agilité fascinante : le lémurien à queue
                annelée, avec sa longue queue rayée, captive tous les regards en se balançant joyeusement d'arbre en
                arbre. </p>
            <p>
                Au fil des sentiers ombragés, des caméléons aux couleurs vives et des geckos aux motifs exotiques se
                fondent avec grâce dans la végétation, ajoutant une touche de mystère à cette nature vibrante. Les
                chants mélodieux des oiseaux exotiques, tels que le coucal et le vanga noir, remplissent l'air d'une
                musique apaisante, créant une atmosphère magique dans ce coin de paradis. Chaque pas que vous faites
                dans ce sanctuaire de biodiversité est une invitation à découvrir la beauté envoûtante de Madagascar,
                faisant du Parc Anja Ambalavao une destination incontournable pour ceux qui cherchent des aventures
                inoubliables et des souvenirs gravés à jamais dans leur cœur. Vivez une expérience immersive et
                laissez-vous séduire par la magie de cette nature préservée, où chaque instant est une célébration de la
                vie sauvage.
            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <img src="/Anja/Anja3.jpg" class="w-100" alt="">
        </div>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>