<div class="site-section">

  <div class="container">

    <div class="row">

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="/Pangalanes" class="unit-1 text-center">
          <img src="/Pangalane4.png" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading" >Est</h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="/Ouest" class="unit-1 text-center">
          <img src="/Ouest5.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">

            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Ouest </h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="/Nosy_be" class="unit-1 text-center">
          <img src="/DSCN4356 copie.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Nosy Be</h3>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="/Sainte_marie" class="unit-1 text-center">
          <img src="/St Marie2.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Sainte-Marie</h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="/Sud" class="unit-1 text-center">
          <img src="/SUD.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Sud </h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="/Rakoba" class="unit-1 text-center">
          <img src="/RAKOBA/4.jpeg" alt="Image" class="img-fluid">
          <div class="unit-1-text">

            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Grand tour</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
