<div class="site-section">

  <div class="container">

    <div class="row">

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="#" class="unit-1 text-center">
          <img src="/Pangalane4.png" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h2 class="unit-1-heading">Pangalanes : L’Odysée de Ramakarao</h2>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="#" class="unit-1 text-center">
          <img src="/Ouest5.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">

            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Ouest </h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="#" class="unit-1 text-center">
          <img src="/DSCN4356 copie.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Nosy Be (Andriamaitso et la Forêt de Lokobe)</h3>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="#" class="unit-1 text-center">
          <img src="/St Marie2.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Sainte-Marie : Les Rois des Océans</h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="#" class="unit-1 text-center">
          <img src="/SUD.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Sud </h3>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
        <a href="#" class="unit-1 text-center">
          <img src="images/06-australia.jpg" alt="Image" class="img-fluid">
          <div class="unit-1-text">

            <!--
              <strong class="text-primary mb-2 d-block"><del class="text-white">$590</del> <span class="mx-1 text-white ">&mdash;</span> $120</strong>
              -->
            <h3 class="unit-1-heading">Circuit Aventure de Rakobà (Grand tour)</h3>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

<button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button>
<button mat-raised-button (click)="openDialog('3000ms', '1500ms')">Open dialog slowly</button>