<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Ranomafana</h2>
<mat-dialog-content class="mat-typography">

    <div class="row align-items-center">
        <div class="col-md-6 col-12">
            <p>
                Nel cuore del Parco Nazionale di Ranomafana, un vero rifugio di biodiversità, i visitatori sono immersi in un mondo vibrante di vita, dove la foresta pluviale brulica di animali affascinanti dalle storie avvincenti. Tra i gioielli di questa natura esuberante, il famoso lemure dorato, spesso chiamato "lemure con la cresta", si distingue per il suo manto scintillante sotto il sole, mentre il sifaka, con i suoi salti aggraziati, incanta tutti con acrobazie mozzafiato. Esplorando i sentieri tortuosi, avrete anche la fortuna di incontrare l'insolito aye-aye, un lemure notturno così singolare, il cui dito lungo e delicato è uno strumento di precisione per scovare le larve nascoste nei tronchi degli alberi.            </p>
            <p>
                Ad ogni angolo, camaleonti multicolori e rane endemiche dai motivi sorprendenti si nascondono tra le foglie, aggiungendo un tocco di magia a questa avventura sensoriale. Sopra di voi, una sinfonia di uccelli esotici, come il vanga dalla testa blu e il pigliamosche del Madagascar, arricchisce il paesaggio con i loro canti melodiosi e piumaggi abbaglianti, creando un'atmosfera fiabesca. Ogni passo sui sentieri di Ranomafana rivela una nuova sfaccettatura di questo ecosistema straordinario, rendendo questo luogo una destinazione imperdibile per gli appassionati di natura desiderosi di scoprire la magia nascosta della fauna malgascia in un contesto naturale mozzafiato. Immergetevi in questo santuario di vita selvaggia e lasciatevi incantare dai tesori nascosti di questo paradiso terrestre.            </p>


        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" class="img-fluid rounded" style="height: 450px;">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>