<div class="container my-5">

  <h1 class="animated-title border-bottom p-3">Nos Parcs</h1>

  <owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let slide of slides">



      <ng-template carouselSlide [id]="slide.id.toString()">

        <div class="card text-white shadow-sm m-2" style="max-width: 600px; height: 400px;">
          <img [src]="slide.img" class="card-img h-100" alt="Stony Beach" />
          <div class="card-img-overlay d-flex flex-column justify-content-end"
            style="background-color: rgba(0, 0, 0, 0.3);">
            <h1 class="card-title" style="font-size: 5vh;">{{slide.title}}</h1>
            <button (click)="openDialog(slide.title)" class="btn btn-custom rounded-pill shadow d-flex align-items-center gap-2">
              <mat-icon>info</mat-icon>
              {{'Parcs.Ulteriori_informazioni' | translate}}
            </button>
          </div>
        </div>

        <!--
      <div class="card shadow-sm" style="width: 18rem; height: 420px;">
        <img class="card-img-top" [src]="slide.img" alt="Card imae cap">
        <div class="card-body">
          <h1 class="card-title">{{slide.title}}</h1>
          <p class="card-text" [innerHTML]="slide.content" style="text-align: justify;"></p>
          <a href="#" class="btn btn-primary">Lire la suite</a>
        </div>
      </div>
      -->

      </ng-template>

    </ng-container>

  </owl-carousel-o>
</div>