<h2 mat-dialog-title class="shadow-sm" style="text-align: center;">Isalo</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col-md-6 col-12">
            <p>
                "Nel cuore del Parco Isalo in Madagascar, si apre un vero paradiso naturale, dove ogni istante è un invito alla meraviglia. Questo santuario incantevole svela una bellezza mozzafiato: formazioni rocciose dai contorni maestosi, scolpite dal soffio del tempo, si ergono con fierezza sotto un cielo di un blu intenso. I lemuri, gioielli viventi di questa terra, saltano con grazia da un ramo all'altro, i loro richiami gioiosi creando una melodia che risuona nell'aria calda e vibrante.            </p>
            <p>
                Le piscine naturali, dalle acque turchesi scintillanti, brillano come gioielli incastonati in un paesaggio arido, invitando i viaggiatori a immergersi nella loro freschezza benefica e ad abbandonarsi alla quiete. La famosa finestra di Isalo, una scultura unica modellata dalla natura, offre un panorama mozzafiato: al tramonto, le colline si illuminano di sfumature arancioni e viola, dipingendo un quadro vivente che celebra la magnificenza di questo santuario.            </p>
            <p>
                In questo rifugio selvaggio, ogni pianta endemica, ogni rilievo grandioso, racconta una storia antica e affascinante, unendo l'uomo e la natura in un'armonia meravigliosa. Venite a scoprire questa esperienza indimenticabile, dove avventura e serenità si incontrano, promettendovi ricordi incisi per sempre nel vostro cuore.            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>



    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>