<div class="container py-5">
    <h2  class="shadow-sm" style="text-align: center;">Isalo</h2>

    <div class="row align-items-center">
        <div class="col-md-6 col-12">
            <p>
                {{'Parcs.Isalo .content.p1' | translate}}
            </p>
            <p>
                {{'Parcs.Isalo .content.p2' | translate}}

            </p>
            <p>
                {{'Parcs.Isalo .content.p3' | translate}}

            </p>
        </div>
        <div class="col-md-6 col-12 text-center">
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let image of images">
                    <ng-template carouselSlide>
                        <img [src]="image" alt="Image du parc" class="img-fluid rounded">
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>



    </div>
</div>