.image-container {
    position: relative;
    display: inline-block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 700%;
    font-weight: bold ;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
    padding: 15px 25px;
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out;

}

/* Responsiveness */
@media (max-width: 1400px) {
    .overlay-text {
        font-size: 500%; /* Ajuste la taille du texte pour les grands écrans */
    }
}

@media (max-width: 995px) {
    .overlay-text {
        font-size: 400%; /* Ajuste encore pour les écrans de taille moyenne */
    }
}

@media (max-width: 930px) {
    .overlay-text {
        font-size: 300%; /* Plus petit pour les tablettes */
        padding: 10px 15px; /* Réduit l'espacement */
    }
}

@media (max-width: 790px) {
    .overlay-text {
        font-size: 200%; /* Très petit pour les smartphones */
        padding: 5px 10px; /* Réduit encore plus l'espacement */
    }
}

@media (max-width: 500px) {
    .overlay-text {
        font-size:160%; /* Très petit pour les smartphones */
        padding: 5px 10px; /* Réduit encore plus l'espacement */
    }
}


/* Effet d'animation pour faire apparaître le texte en douceur */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

p {
    line-height: 1.6;
    text-align: justify;
    /* Justification du texte */
    font-family: 'Poppins';
    font-size: 16px;
    /* Définit l'épaisseur de la police */
    line-height: 1.5;
  
  
  }