<div class="container position-relative">
    <div class="image-container">
        <img src="/SAINTE_MARIE/St Marie9.jpg" class="" style="height: 50%; width: 100%;" alt="">
        <div class="overlay-text">Sainte-Marie</div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-left: 20%; margin-right: 20%; padding-top: 2%;">
            <p>
                {{'Tours.Sainte_Marie.p1' | translate}}
            </p>

            <p>
                {{'Tours.Sainte_Marie.p2' | translate}}
            </p>
            <p>
                {{'Tours.Sainte_Marie.p3' | translate}}
            </p>



            <p>
                {{'Tours.Sainte_Marie.p4' | translate}}
            </p>


            <p>
                {{'Tours.Sainte_Marie.p5' | translate}}
            </p>
            <p>
                {{'Tours.Sainte_Marie.p6' | translate}}
            </p>
        </div>



</div>