
<head>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>


<div style="position: relative; width: 100%; height: 50vh; overflow: hidden;">
	<!-- Image -->
	<img src="/Anja1.jpg" alt="Image description" style="width: 100%; height: 100%; object-fit: cover;">

	<!-- Overlay noir semi-transparent -->
	<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                background: rgba(0, 0, 0, 0.3);"></div>

	<!-- Texte en bas à gauche -->
	<div class="container-fluid text-center" style="position: absolute; bottom: 20px; left: 20px;
                color: white; font-size: 20px; font-weight: bold; text-align: left;">
		<h1 class="typing-container">Royal Quest Adventure Madagascar . . .</h1>
	</div>
</div>

<div class="container my-5 px-5">
	<p class="lead">
		{{'home.p1' | translate}}
	</p>

	<p>
		{{'home.p2' | translate}}	</p>

	<p>
		{{'home.p3' | translate}}
	</p>

	<p>
		{{'home.p4' | translate}}	</p>

	<p>
		{{'home.p5' | translate}}	</p>

	<p>
		{{'home.p6' | translate}}
	</p>

	<div class="row">
		<div class="col-12 col-md-6">
			<h2>{{'home.Le_nostre.title' | translate }}</h2>
			<ul>
				<li><strong>{{'home.Le_nostre.Viaggi_classici.title' | translate }}</strong> 
					{{'home.Le_nostre.Viaggi_classici.descrption' | translate }}
				</li> <br>
				<li><strong>{{'home.Le_nostre.Viaggi_di_gruppo.title' | translate }}</strong> 
					{{'home.Le_nostre.Viaggi_di_gruppo.descrption' | translate }}
				</li> <br>
				<li><strong>{{'home.Le_nostre.Viaggi_tematici.title' | translate }}</strong> 
					{{'home.Le_nostre.Viaggi_tematici.descrption' | translate }}
				</li>			</ul>
		</div>
		<div class="col-12 col-md-6">
			<img src="/collage.png" alt="" class="img-fluid" style="width: 70%; margin-left: 15%;">
		</div>
	</div>


</div>



