@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Conteneur du texte */
.typing-container {
  font-family: 'Poppins';
  font-size: 48px;
  /* Augmente la taille du texte */
  font-weight: bold;
  color: white;
  /* Texte en blanc */
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
  /* Curseur de la machine à écrire */
  width: 0;
  animation: typing 5s steps(30, end) forwards, blink 0.8s infinite;
  padding-bottom: 5%;
  padding-top: 5%;

}

/* Animation machine à écrire */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* Animation clignotement du curseur */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Arrière-plan */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  /* Fond noir pour effet médiéval */
  margin: 0;
}

p {
  text-align: justify;
  font-family: 'Poppins';  /* Choisit la police Arial, avec une alternative sans-serif */
  font-size: 16px;
  /* Définit la taille de la police */
  font-weight: normal;
  /* Définit l'épaisseur de la police */
  line-height: 1.5;
}

li{
  text-align: justify;
  font-family: 'Poppins';  /* Choisit la police Arial, avec une alternative sans-serif */
  font-size: 16px;
  /* Définit la taille de la police */
  font-weight: normal;
  /* Définit l'épaisseur de la police */
  line-height: 1.5;

}

/* Ajustement pour les petits écrans */
@media screen and (max-width: 964px) {
  .typing-container {
    font-size: 30px; /* Augmente la taille sur mobile */
    border-right: 2px solid white; /* Réduit la bordure */
  }
}

@media screen and (max-width: 480px) {
  .typing-container {
    font-size: 18px; /* Encore plus grand pour les petits écrans */
    border-right: 1px solid white;
  }
}
