<head>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  

<div style="position: relative; width: 100%; height: 50vh; overflow: hidden;">
	<!-- Image -->
	<img src="/Anja1.jpg" alt="Image description" style="width: 100%; height: 100%; object-fit: cover;">

	<!-- Overlay noir semi-transparent -->
	<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
                background: rgba(0, 0, 0, 0.3);"></div>

	<!-- Texte en bas à gauche -->
	<div style="position: absolute; bottom: 20px; left: 20px;
                color: white; font-size: 20px; font-weight: bold; text-align: left;">
		<h1 class="typing-container">Royal Quest Adventure Madagascar . . .</h1>
	</div>
</div>


<div class="container my-5 px-5">
	<p class="lead">Plongez dans l’univers magique de Madagascar, une île enchanteresse nichée au cœur de l’océan Indien. Ce joyau naturel, véritable trésor d’histoire, de traditions et de culture, offre une expérience unique où se mêlent harmonieusement paysages à couper le souffle, biodiversité extraordinaire, et patrimoine vivant. Chaque coin de cette île raconte une histoire, un voyage à travers le temps, dans les pas des rois et des ancêtres qui ont façonné ce territoire.</p>
        
	<p>Madagascar, terre des Vazimba, les premiers habitants de l’île incarne des millénaires de richesses culturelles. En 2500 avant J.-C., ces pionniers vivaient en parfaite communion avec une nature spectaculaire, composée de forêts tropicales denses, de rivières cristallines et de montagnes empreintes de mysticisme. Leur sagesse ancestrale et leur lien spirituel avec la terre continuent d’inspirer la culture malgache contemporaine. Ici, l’histoire prend vie à travers des traditions authentiques, transmises de génération en génération.</p>
	
	<p>Votre aventure sur cette île exceptionnelle mérite une approche unique, et c’est là que nous intervenons. En tant que tour opérateur local 100% passionné, nous sommes dédiés à transformer vos rêves en réalité. Nous concevons pour vous des voyages sur mesure, soigneusement adaptés à vos envies et à vos attentes. Que ce soit pour explorer des parcs nationaux époustouflants, séjourner dans des hébergements soigneusement sélectionnés, ou vous détendre sur des plages idylliques, chaque détail est pensé pour rendre votre séjour inoubliable.</p>
	
	<p>Imaginez-vous réveillé par le chant des lémuriens, marchant parmi des baobabs millénaires ou plongeant dans des lagunes secrètes aux eaux turquoise. Nos itinéraires exclusifs vous emmènent au-delà des sentiers battus, dans des lieux reculés où le temps semble s’être arrêté. Là, vous rencontrerez des communautés locales chaleureuses et découvrirez des traditions ancestrales qui défient les siècles. Chaque moment passé ici est une invitation à l’émerveillement et à la découverte.</p>
	
	<p>Grâce à notre connaissance approfondie de Madagascar, nous vous garantissons bien plus qu’un simple voyage : une immersion totale, ponctuée de rencontres authentiques et d’émotions intenses. Des marchés animés aux cérémonies traditionnelles, des saveurs envoûtantes de la cuisine locale aux aventures en 4x4 dans des paysages à couper le souffle, chaque instant est conçu pour vous émerveiller.</p>
	
	<p>Faites confiance à notre expertise pour vous guider dans cette aventure royale et intemporelle. Avec nous, découvrez Madagascar comme peu l’ont fait, dans toute sa splendeur et son authenticité. Car rien n’égale l’émotion de parcourir cette île magique avec ceux qui la connaissent comme leur propre maison.</p>
	
	<div class="row">
		<div class="col-12 col-md-6">
			<h2>Nos offres de voyages</h2>
			<ul>
				<li><strong>Voyages classiques :</strong> Laissez-vous séduire par la liberté. Partez à votre rythme et explorez les trésors de Madagascar à votre manière. Chaque instant est une invitation à la découverte. Créez votre propre aventure, loin des sentiers battus.</li>
				<li><strong>Voyages de groupe :</strong> Vivez l’émotion de partager. Avec d’autres passionnés, plongez dans l’effervescence des marchés locaux, contemplez les baobabs millénaires et explorez ensemble les merveilles naturelles. Guidé par un expert, découvrez Madagascar dans une ambiance conviviale, où chaque rencontre enrichit l’expérience.</li>
				<li><strong>Voyages thématiques :</strong> Embarquez pour un voyage d’exception. Que vous soyez amateur de nature, passionné de culture ou explorateur culinaire, nos voyages thématiques sont conçus pour vous. Partez sur les traces des lémuriens, dégustez les saveurs uniques de la gastronomie malgache, ou laissez-vous bercer par les chants ancestraux des villages reculés.</li>
			</ul>
		</div>
		<div class="col-12 col-md-6">
			<img src="/collage.png" alt="" class="img-fluid" style="width: 70%; margin-left: 15%;">
		</div>
	</div>
	

</div>

<app-footer></app-footer>
<!--


@if (images) {
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img style="width: 100%; height: 400px; object-fit: cover; filter: blur(5px);" src="/1.jpg"
				alt="Random first slide" />
		</div>
		<div class="carousel-caption text-center">
			<h1 class="custom-font">ROYAL QUEST ADVENTURE MADAGASCAR</h1>
			<h2 class="custom-subtext">
				Vivez l'expérience d'un voyage unique, conçu sur mesure pour vous. Aventurez-vous au cœur de Madagascar,
				entre terres sauvages et plages paradisiaques.
			</h2>
			<div class="d-flex justify-content-center mt-5">
				<button onclick="location.href='#NosOffres'"
					class="btn btn-primary btn-lg d-flex align-items-center gap-2">
					Découvrez nos offres <i class="fas fa-arrow-right"></i>
				</button>
			</div>
		</div>


	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img style="width: 100%; height: 400px; object-fit: cover;filter: blur(5px);" src="/2.jpg"
				alt="Random second slide" />
		</div>
		<div class="carousel-caption text-center">
			<h1 class="custom-font">ROYAL QUEST ADVENTURE MADAGASCAR</h1>
			<h2 class="custom-subtext">
				Vivez l'expérience d'un voyage unique, conçu sur mesure pour vous. Aventurez-vous au cœur de Madagascar,
				entre terres sauvages et plages paradisiaques.
			</h2>
			<div class="d-flex justify-content-center mt-5">
				<button onclick="location.href='#NosOffres'"
					class="btn btn-primary btn-lg d-flex align-items-center gap-2">
					Découvrez nos offres <i class="fas fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img style="width: 100%; height: 400px; object-fit: cover;filter: blur(5px);" src="/3.jpg"
				alt="Random third slide" />
		</div>
		<div class="carousel-caption text-center">
			<h1 class="custom-font">ROYAL QUEST ADVENTURE MADAGASCAR</h1>
			<h2 class="custom-subtext">
				Vivez l'expérience d'un voyage unique, conçu sur mesure pour vous. Aventurez-vous au cœur de Madagascar,
				entre terres sauvages et plages paradisiaques.
			</h2>
			<div class="d-flex justify-content-center mt-5">
				<button onclick="location.href='#NosOffres'"
					class="btn btn-primary btn-lg d-flex align-items-center gap-2">
					Découvrez nos offres <i class="fas fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</ng-template>
</ngb-carousel>

}



<div class="container">
	<p>

		Plongez dans l’univers magique de Madagascar, une île enchanteresse nichée au cœur de l’océan Indien. Ce joyau naturel, véritable trésor d’histoire, de traditions et de culture, offre une expérience unique où se mêlent harmonieusement paysages à couper le souffle, biodiversité extraordinaire, et patrimoine vivant. Chaque coin de cette île raconte une histoire, un voyage à travers le temps, dans les pas des rois et des ancêtres qui ont façonné ce territoire.

	</p>

	<p>

	</p>

	<p>

	</p>

	<p></p>
</div>

<div class="container my-5">

	<div class="row my-2">
		<div class="col-lg-6 mb-5">
			<img src="/5.jpg" alt="Image" class="img-fluid overlap-img">
		</div>
		<div class="overlap-left shadow-5 col-lg-6 bg-white p-md-5 align-self-center">
			<p class="text-black lead text-justify">&ldquo;
				Plongez dans l’univers magique de Madagascar, une île enchanteresse nichée au cœur de l’océan Indien. Ce
				joyau naturel, véritable trésor d’histoire, de traditions et de culture, offre une expérience unique où
				se mêlent harmonieusement paysages à couper le souffle, biodiversité extraordinaire, et patrimoine
				vivant. Chaque coin de cette île raconte une histoire, un voyage à travers le temps, dans les pas des
				rois et des ancêtres qui ont façonné ce territoire. </p>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-lg-6 mb-5">
			<img src="/5.jpg" alt="Image" class="img-fluid overlap-img">
		</div>
		<div class="overlap-left shadow-5 col-lg-6 bg-white p-md-5 align-self-center">
			<p class="text-black lead text-justify">&ldquo;
				Madagascar, terre des Vazimba, les premiers habitants de l’île incarne des millénaires de richesses
				culturelles. En 2500 avant J.-C., ces pionniers vivaient en parfaite communion avec une nature
				spectaculaire, composée de forêts tropicales denses, de rivières cristallines et de montagnes empreintes
				de mysticisme. Leur sagesse ancestrale et leur lien spirituel avec la terre continuent d’inspirer la
				culture malgache contemporaine. Ici, l’histoire prend vie à travers des traditions authentiques,
				transmises de génération en génération.&rdquo;</p>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-lg-6 mb-5">
			<img src="/Ouest3.jpg" alt="Image" class="img-fluid overlap-img">
		</div>
		<div class="overlap-left shadow-5 col-lg-6 bg-white p-md-5 align-self-center">
			<p class="text-black lead text-justify">&ldquo;
				Votre aventure sur cette île exceptionnelle mérite une approche unique, et c’est là que nous
				intervenons. En tant que tour opérateur local 100% passionné, nous sommes dédiés à transformer vos rêves
				en réalité. Nous concevons pour vous des voyages sur mesure, soigneusement adaptés à vos envies et à vos
				attentes. Que ce soit pour explorer des parcs nationaux époustouflants, séjourner dans des hébergements
				soigneusement sélectionnés, ou vous détendre sur des plages idylliques, chaque détail est pensé pour
				rendre votre séjour inoubliable.&rdquo;</p>
		</div>
	</div>

	<div class="row my-2">
		<div class="col-lg-6 mb-5">
			<img src="/Pomelo20240615083945403.png" alt="Image" class="img-fluid overlap-img">
		</div>
		<div class="overlap-left shadow-5 col-lg-6 bg-white p-md-5 align-self-center">
			<p class="text-black lead text-justify">&ldquo;
				Imaginez-vous réveillé par le chant des lémuriens, marchant parmi des baobabs millénaires ou plongeant
				dans des lagunes secrètes aux eaux turquoise. Nos itinéraires exclusifs vous emmènent au-delà des
				sentiers battus, dans des lieux reculés où le temps semble s’être arrêté. Là, vous rencontrerez des
				communautés locales chaleureuses et découvrirez des traditions ancestrales qui défient les siècles.
				Chaque moment passé ici est une invitation à l’émerveillement et à la découverte.&rdquo;</p>
		</div>
	</div>


	<figure class="bg-white p-3 rounded" style="border-left: .25rem solid #f68e9d; border-right: .25rem solid #f68e9d;">
		<blockquote class="blockquote pb-2">
			<p class="text-justify">
				Grâce à notre connaissance approfondie de Madagascar, nous vous garantissons bien plus qu’un simple
				voyage : une immersion totale, ponctuée de rencontres authentiques et d’émotions intenses. Des marchés
				animés aux cérémonies traditionnelles, des saveurs envoûtantes de la cuisine locale aux aventures en 4x4
				dans des paysages à couper le souffle, chaque instant est conçu pour vous émerveiller.
				Faites confiance à notre expertise pour vous guider dans cette aventure royale et intemporelle. Avec
				nous, découvrez Madagascar comme peu l’ont fait, dans toute sa splendeur et son authenticité. Car rien
				n’égale l’émotion de parcourir cette île magique avec ceux qui la connaissent comme leur propre maison.
			</p>
		</blockquote>
		<figcaption class="blockquote-footer mb-0 font-italic">
			Equipe Royal Quest Adventure Madagascar
		</figcaption>
	</figure>

	<h1 class="m-5" id="NosOffres">Nous sommes spécialisés dans l'organisation de voyages adaptés à toutes vos envies.
	</h1>

	<div class="container">
		<div class="row d-flex justify-content-around">
			<div class="col-sm-12 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img src="/FB_IMG_1723058785583.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h2>Voyages classiques</h2>
						<p class="card-text">
							Laissez-vous séduire par la liberté. Partez à votre rythme et explorez les trésors de
							Madagascar à
							votre manière. Chaque instant est une invitation à la découverte. Créez votre propre
							aventure, loin
							des sentiers battus.
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img src="/FDTRTRTR.JPG" class="card-img-top" alt="...">
					<div class="card-body">
						<h2>Voyages de groupe</h2>
						<p class="card-text">
							Vivez l’émotion de partager. Avec d’autres passionnés, plongez dans l’effervescence des
							marchés
							locaux, contemplez les baobabs millénaires et explorez ensemble les merveilles naturelles.
							Guidé par
							un expert, découvrez Madagascar dans une ambiance conviviale, où chaque rencontre enrichit
							l’expérience.
						</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img src="/IMG-20250120-WA0171.jpg" class="card-img-top" alt="...">
					<div class="card-body">
						<h2>Voyages thématiques</h2>
						<p class="card-text">
							Embarquez pour un voyage d’exception. Que vous soyez amateur de nature, passionné de culture
							ou
							explorateur culinaire, nos voyages thématiques sont conçus pour vous. Partez sur les traces
							des
							lémuriens, dégustez les saveurs uniques de la gastronomie malgache, ou laissez-vous bercer
							par les
							chants ancestraux des villages reculés.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>

-->